.voeux ul {
  list-style: none;
}

.voeux ul li {
  margin-bottom: 5px;
}

.voeux ul li::before {
  content: '\2022';
  color: #000091;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}