.c-about-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: $gray-750;
  margin-bottom: 40px;
  margin-top: 40px;
}

.c-about-card {
  align-items: center;
  border-radius: 10px;
  border: none;
  padding: 18px 24px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.21);
}
.c-about-card--flat {
  text-align: center;
  @include media-breakpoint-up(sm) {
    flex-direction: row;
    text-align: left;
  } 
}

.c-about-card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  color: $gray-700;
}
.c-about-card__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: $gray-600;
}
.c-about-card__text2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: #4A4A4A;
}
.c-about-card__text2:hover {
  color: #4A4A4A;
}
.c-about-card__link a {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: $gray-600;
  text-decoration: underline;
}

.c-about-card__img { 
 min-width: 68px;
 min-height: 68px;
 background: #EDEDED; 
 border-radius: 70px;
}
.c-about-card__content { 
  padding-left: 8px;
}

.c-about-card__img--prdv {
  margin-top: 4px;
  margin-left: 4px;
}
.c-about-card__img--matcha {
  margin-top: -2px;
}
.c-about-card__img--catalog {
  margin-top: 20px;
  margin-left: 5px;
  @include media-breakpoint-up(sm) {
    margin-left: 20px;
  } 
}
.c-about-card__img2 {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-about-card.c-about-card--small {
  padding: 18px 12px;
  min-width: 9rem;
}

.c-about-other {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}
.c-about-otherleft {
  display: flex;
  align-items: end;
  min-width: 150px;
}
.c-about-otherright {
  @include media-breakpoint-up(md) {
    padding-left: 32px;
  }
}
.c-about-otherbullet {
  font-size: 25px;
  line-height: 1;
}

.c-about-otherdescr {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #4A4A4A;
}

.c-about-otherlink a {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: $gray-700;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  margin-left: 16px;
}
