button.c-accordion-button {
  text-align: left;
  padding-left: 0;
  background-color: inherit;
  border: none;
  color: #161616;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  width: 100%;
  padding: 8px 12px;
  border-bottom: 1px solid #e5e5e5;
}

.c-accordion-button-plus {
  margin-left: auto;
}

.c-accordion {
  margin-top: 24px;
}

.c-collapser p {
  margin-top: 18px;
  padding-left: 12px;
}
