.c-algo {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.c-algo-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  @include media-breakpoint-up(md) {
    font-size: 40px;
    line-height: 48px;
  }
  &__top {
    color: #2a2a2a;
  }
  &__down {
    color: #3a55d1;
  }
}

.c-algo-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding-right: 4rem;
}

.c-algo-img {
  margin-top: 2rem;
  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
}
