.c-autocomplete__menu {
  overflow-y: auto;
  margin: 0;
  margin-top: 5px;
  border-top: 0;
  list-style: none;
  padding: 0;
  left: auto;
  background: #fff;
  color: #000;
  width: 100%;
  max-width: 370px;
  max-height: 480px;
  position: absolute;
  z-index: 1000;
  top: auto;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  text-align: left;
}

.c-autocomplete-minititle {
  color: $gray-500 !important;
  font-size: 14px;
}

.c-autocomplete-neutral {
  color: $gray-500 !important;
  font-size: 14px;
}

.c-autocomplete-title {
  color: $bluesoft500 !important;
  font-size: 14px;
  font-weight: bold !important;
  text-transform: uppercase;
}

.c-autocomplete-title.c-autocomplete-title_bordered {
  border-top: 1px $gray-400 solid;
  padding-top: 1rem;
  margin-top: 1rem;
}

.c-autocomplete__menu li {
  padding: .4rem .8rem .4rem .8rem;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 400;
  color: #383838;
  &:hover {
    background-color: $gray-200;
    cursor: pointer;
  }
}

li.c-autocomplete_option
{
  padding-left: 2rem;
}

.c-autocomplete__menu li.c-autocomplete-neutral,
.c-autocomplete__menu li.c-autocomplete-minititle {
  &:hover {
    background-color: inherit;
    cursor: text;
  }
  .spinner-border {
    width: 1rem;
    height: 1rem;
  }
}


.c-autocomplete__menu li:first-child {
  padding-top: .8rem;
}
.c-autocomplete__menu li:last-child {
  padding-bottom: .8rem;
}

.widgetTestPage .c-autocomplete__menu {
  margin-left: 0px;
  width: 100%;
  max-width: 370px;
  margin-top: 4px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}


.c-autocomplete__option--highlighted {
  background-color: #aaaaaa;
}

.c-input-work {
  color: #2A2A2A;
  padding-left: 2.3rem;
  text-align: left;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  height: calc(1.75em + 0.7rem + 13px);
  @include media-breakpoint-up(sm) {
    height: calc(1.75em + 0.7rem + 9px);
    padding-left: 3rem;
  }
  &.is-text-too-long {
    font-size: $small-font-size;
  }
  &.is-text-not-too-long {
    font-size: $small-font-size;
    @include media-breakpoint-up(sm) {
      font-size: $font-size-base;
    }
  }
}

