.c-regular-darkbtn {
  font-size: 18px;
  font-weight: 700;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
}

.c-rayons-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  button {
    background: #ffffff;
    border: 1px solid #cecece;
    border-radius: 40px;
  }
}

.c-rayons-button {
  background: #ffffff;
  border: 1px solid #cecece;
  border-radius: 40px;
  cursor: pointer;
  color: #2a2a2a;
  margin-right: 0.2rem;
  padding: 0.3rem 1rem;
  font-size: 16px;
  line-height: 24px;

  @include media-breakpoint-down(xs) {
    font-size: 12px;
    line-height: 16px;
    margin-right: 0.6rem;
    padding: 0.1rem 0.5rem;
  }
}

.c-rayons-button.is-selected {
  background-color: blue;
  color: white;
}

.c-diplomas-buttons {
  display: flex;
  flex-direction: column;
}

.c-diplomas-button {
  background: #ffffff;
  border: 1px solid #cecece;
  margin-top: 2px;
  width: fit-content;
  border-radius: 40px;
  cursor: pointer;
  color: #2a2a2a;
  margin-right: 0.2rem;
  padding: 0.3rem 1rem;
  font-size: 16px;
  line-height: 24px;

  @include media-breakpoint-down(xs) {
    font-size: 12px;
    line-height: 16px;
    margin-right: 0.6rem;
    padding: 0.1rem 0.5rem;
  }
}

.c-diplomas-button.is-selected {
  background-color: blue;
  color: white;
}
