.c-candidature-field input {
  border: none;
  background: #f0f0f0;
  border-radius: 4px 4px 0px 0px;
  width: 95%;
  height: 40px;
  padding-left: 1rem;
  @include media-breakpoint-up(md) {
    width: 317px;
  }
}

.c-candidature-field.is-not-validated input {
  border-bottom: 2px solid #6a6a6a;
}
.c-candidature-field.is-valid-true input {
  border-bottom: 2px solid #008941;
}
.c-candidature-field.is-valid-true textarea {
  border-bottom: 2px solid #008941;
}
.c-candidature-field.is-valid-false input {
  border-bottom: 2px solid #e10600;
}
.c-candidature-field.is-valid-false textarea {
  border-bottom: 2px solid #e10600;
}

// Force default input appearance
.c-candidature-field input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #f0f0f0 inset !important;
}

.c-candidature-erreur {
  font-family: Marianne;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em;
  color: #e10600;
}

.c-candidature__widget {
  width: 100%;
}
