.c-choicecolumn {
  padding-top: 0;
}

.c-choicecolumn__nosearch {
  background: #fff;
}

@media only screen and (min-width: 768px) {
  .c-choicecolumn {
    padding-top: 73px;
  }

  .c-choicecolumn__nosearch {
    background: #f9f8f6;
  }
}
