.cardIcon {
  width: 24px;
}

.c-detail-body.c-detail-body--inside {
  padding-left: 0;
  padding-right: 0;
}

.c-detail-matcha-subtitle {
  font-size: 14px;
  line-height: 17px;
  color: $gray-700;
}

.c-detail-knowmore {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: $gray-700;
}

.c-detail-square {
  display: inline-block;
  color: rgba(0, 0, 0, 0);
  width: 12px;
  height: 12px;
  line-height: 12px;
  background-color: $pinksoft750;
}

.c-detail-km {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: $gray-600;
}

.c-detail-sizetitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0;
  margin-bottom: 16px;
  padding-bottom: 0;
}

.c-detail-sizetext {
  width: 90%;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.c-detail-header {
  filter: drop-shadow(0px 4px 4px rgba(213, 213, 213, 0.25));
}

.c-detail-company {
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 23px;
}
.c-detail-jobtitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 21px;
  color: $gray-700;
}
.c-detail-meta {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 24px;
}
.c-detail-proposal {
  font-weight: 400;
  color: $gray-700;
  margin-bottom: 0;
}
.c-detail-jobname {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0;
  text-align: left;
}

.c-detail-description {
  margin-top: 41px;
  text-align: left;
  &.is-first {
    margin-top: 20px;
  }
}

.c-detail-description-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 24px;
  color: $gray-700;
}

.c-detail-description-title.c-detail-description-title--matcha1 {
  margin-bottom: 13px;
}

.c-detail-advice.c-detail-advice--matcha {
  padding-bottom: 6px;
  margin-bottom: 40px;
}

.c-detail-diploma {
  border: 1px solid $gray-300;
  box-sizing: border-box;
  border-radius: 32px;
  padding: 5px 12px;
  margin-right: 7px;
}

.c-detail-contactlink {
  a {
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: underline solid $gray-750;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }
}

.c-detail-advice {
  display: flex;
  align-items: flex-start;
  background-color: $gray-100;
  margin-top: 12px;
  padding: 24px;
  padding-left: 18px;
  border-left: 6px solid $pinksoft750;
}
.c-detail-advice.c-detail-advice--training {
  border-left: 6px solid $greensoft750;
  padding: 8px;
  padding-bottom: 20px;
  @include media-breakpoint-up(md) {
    padding: 24px;
    padding-bottom: 57px;
  }
}
.c-detail-advice.c-detail-advice--training.c-detail-advice--training-cfa-true {
  @include media-breakpoint-up(md) {
    padding-bottom: 10px;
  }
}
.c-detail-advice.c-detail-advice--training .c-detail-advice-text {
  margin-top: 0;
  margin-bottom: 0;
}

.c-detail-advice-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
}
.c-detail-advice-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.c-detail-advice-cfatitle {
  color: $greensoft750;
  font-weight: bold;
}

.c-detail-advice-text.c-detail-advice-text--first {
  margin-top: 0;
  @include media-breakpoint-up(md) {
    margin-top: 18px;
  }
}
.c-detail-advice-text--tag,
.c-detail-advice-tag,
.c-detail-advice-title {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
.c-detail-advice-tag .c-media-tag {
  display: block;
  box-shadow: 0px 0px 15px 1px rgba(121, 121, 121, 0.4);
}
.c-detail-advice-highlight {
  font-weight: 400;
  color: inherit;
  @include media-breakpoint-up(md) {
    font-weight: 700;
    color: $pinksoft750;
  }
}

.c-detail-advice__figure {
  margin-right: 19px;
}
.c-detail-advice__body {
  text-align: left;
  flex: 1;
}

.c-detail-lbb-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}

.c-detail-lbb-ul {
  text-align: left;
}

.c-detail-lbb-li::marker {
  color: $pinksoft750;
  font-size: 31px;
}

.c-detail-lbb-li {
  list-style-type: none;
  position: relative;
  margin-bottom: 1rem;
}
.c-detail-lbb-li::before {
  content: "⬤";
  color: $pinksoft750;
  position: absolute;
  left: -2em;
  font-size: 1em;
}

.c-detail-lbb-siretzone {
  background-color: $gray-200;
  padding: 30px;
  text-align: left;
  margin-bottom: 100px;
}

.c-detail-lbb-siretok {
  margin-top: 27px;
}

a.c-detail-lbb-siretbutton {
  border: 1px solid #383838;
  color: #383838;
}

.btn-outline-primary.c-detail-lbb-siretbutton:hover {
  color: #383838;
  border: 1px solid #383838;
  background-color: white;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.21);
}

.btn-outline-primary.c-detail-lbb-siretbutton:not(:disabled):not(.disabled):active {
  color: #383838;
  background-color: whitesmoke;
  border-color: inherit;
}

.c-detail-lbb-siretactual,
.c-detail-lbb-siretno {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}
.c-detail-lbb-siretno {
  color: $gray-600;
}
.c-detail-training {
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  white-space: pre-wrap;
}

.c-detail-traininglink {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  border-bottom: 1px solid $gray-750;
  a {
    color: $gray-700;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  &--strong {
    font-weight: bold;
  }
}

.c-detail-seeinfo {
  font-size: 14px;
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}

.c-see-info {
  font-size: 16px;
  padding: 11px 40px;
  width: 100%;
  max-width: 400px;
}

.c-see-info.c-see-info--matcha {
  max-width: 320px;
  padding: 11px 0px;
  margin-bottom: 20px;
  margin-top: 4px;
}

.c-detail-sizetext.c-detail-sizetext--matcha {
  margin-bottom: 32px;
}

.c-detail-also {
  font-size: 12px;
  font-style: italic;
}
