.c-detail--collapse-header-false {
  .c-detail-address-section {
    text-align: left;
  }
  .c-tiny-btn-bar {
    @extend .mb-2;
  }
}

.c-tagcfa-container {
  margin-bottom: 1rem;
}

.c-detail-emptyspace {
  line-height: 0.01;
}

.c-detail-header.c-detail--collapse-header-true {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  background: #fff;
}

.c-detail--collapse-header-true {
  .c-detail-address-section {
    display: none;
  }
  .c-detail-emptyspace {
    display: none;
  }
  .c-detail-title.c-detail-title--formation {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
  }
  .c-detail-title--entreprise {
    display: none;
  }
  .c-tiny-btn-bar {
    @extend .mb-0;
  }
}
