.c-domainerror-notice {
  padding: 1rem;
  background: #FFF1E5;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}

.c-domainerror-notice-img {
  float: left;
  
}

.c-domainerror-texttitle {
  font-weight: 700;
  font-size: 22;
}
