.c-faq-question {
  font-weight: 700;
  font-size: 18px;
  color: $gray-750;
  @extend .mb-3;
  @extend .mt-4;
}
.c-faq-question-small {
  font-weight: 600;
  font-size: 16px;
  color: $gray-750;
  @extend .mb-3;
  @extend .mt-4;
}
.c-faq-question.is-first {
  @extend .mt-0;
}

.c-faq-answer {
  @extend .m-0;
}

.c-faq {
  .notion-text {
    margin-top: 1rem;
  }
  .notion-toggle {
    margin-top: 1rem;
  }
  .nav-item {
    cursor: pointer;
  }
}
