.c-filterzone {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 31px;
  margin-bottom: 4px;
  @include media-breakpoint-up(lg) {
    align-items: center;
    flex-direction: row;
  }
}

.c-filterbuttons {
  display: flex;
  flex-direction: row;
}

.c-result-list__header {
  background-color: #f9f8f6;
}

.c-filterbutton {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  background: none;
  width: fit-content;
  outline: none;
  border: none;
  color: $gray-750;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #000091;
  background: #e3e3fd;
  border-radius: 40px;
  padding-bottom: 3px;
  @include media-breakpoint-up(sm) {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 14px;
  }
  @include media-breakpoint-between(md, lg) {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}

.c-filterbuttons-hint {
  text-align: left;
  font-size: 14px;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.c-filterbutton.is-active {
  font-weight: 700;
  background: #000091;
  color: white;
}

.c-filterbutton-img {
  margin: -2px 5px 0 5px;
  display: none;
  @include media-breakpoint-up(sm) {
    display: inline;
  }
}

.c-filterbutton:hover,
.c-filterbutton:focus {
  box-shadow: none;
  box-shadow: 0 0 0 2px $primary;
  border-radius: 15px;
}

.c-filterbutton-count {
  display: none;
  @include media-breakpoint-up(lg) {
    display: inline;
  }
}
