.c-footer {
  background-color: $home-background-color;
}   

.c-footer-text {
  font-size: 14px;
}

.c-footer--one {
  border-top: 1px solid #3A55D1;
}

.c-footer .container {
  max-width: 1360px;
}

.c-footer__brand-img {
  @include media-breakpoint-down(md) { 
    width: 110px;
  }
}

.c-footer-lastword {
  a {
    display: inline-flex;
    color: #666666;
    text-decoration: underline;
  }
}

.c-footer-smallword {
  color: #666666;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.c-footer-links__line {
  @extend .mb-1;
  border-right: none;
  @include media-breakpoint-up(lg) { 
    border-right: 1px solid #E5E5E5;
  }
}

.c-footer-links__line + .c-footer-links__line {
  padding-right: 0;
  padding-left: 0;
  @include media-breakpoint-up(lg) { 
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.c-footer-official-links {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(xl) { 
    flex-direction: row;
    align-items: center;
  }
  a {
    cursor: pointer;
    color: #666666;
    font-weight: 700;
    @include media-breakpoint-up(xl) { 
      margin-right: .5rem;
    }
  }
}

.c-footer-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  @include media-breakpoint-up(lg) { 
    flex-direction: row;
  }
}

.c-footer-links__link {
  color: #666666;
}

.c-footer-links__link-img {
  margin-right: 5px;
}

.c-footer-links__link:hover {
  text-decoration: none;
  color: $gray-700;
}

.c-footer--partner-logo {
  max-width: 73px;
}

.c-footer-logocontainer + .c-footer-logocontainer {
  margin-left: 1rem;
}

.c-footer-imgs {
  @include media-breakpoint-down(sm) { 
    text-align: center;
  }
}

.c-footer-credit a {
  color: $gray-700;
}

.c-footer-francerelance {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @include media-breakpoint-down(lg) { 
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
