.c-navigation .navbar-light .navbar-nav .c-formulaire-satisfaction-navlink.nav-link {
  color: #000091;
}

.c-formulaire-satisfaction textarea {
  border: none;
  background: #F0F0F0;
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  height: 110px;
  padding-left: 1rem;
}

.c-candidature-field.is-not-validated textarea {
  border-bottom: 2px solid #6A6A6A;
}
