.c-detail-body.c-goingto {
  padding-bottom: 8px;
  padding-top: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.c-goingto-thanks {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 25px;
}

.c-goingto-thanks span {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
}
.c-goingto-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.c-goingto-thumb {
  border: none;
  background-color: inherit;
  span {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
}
.c-goingto-buttons {
  margin-left: auto;
}
