.c-home-hero {
 @include media-breakpoint-up(sm) { 
   background-size: contain;
   background-repeat: no-repeat;
 }
}

// custom breakpoint, sm (=576) is too large.
@media (max-width: 375px) { 
  .c-home-hero__card-body {
    padding: 0;
  }
  .c-home-hero__container {
    padding: 0.5rem;
  }
}

.c-home-hero__card {
  border: none;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.21);
  @include media-breakpoint-up(sm) {
    max-width: 1110px;
    border-radius: 10px;    
  } 
  padding-top: 0;
  @include media-breakpoint-up(lg) {
    padding-top: 11px;
  } 
  padding-bottom: 36px;
}

.c-home-hero__submit {
  font-size: 18px;
  font-weight: 700;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
}

.c-home-hero__title {
  font-size: 26px;
  font-weight: bold;
  line-height: 90.2%;
  @include media-breakpoint-up(sm) {
    margin-top: 0;
    font-size: 29px;
    text-align: left;
  }
}

.c-home-hero__title + .c-home-hero__title {
  margin-top: 0;
}

.c-home-hero__subtitle {
  text-align: center;
  @include media-breakpoint-up(sm) {
    text-align: left;
  }
}


.c-home-hero__title2 {
  color: $info;
}

.c-input-work {
  padding-left: 2rem;
  font-size: 14px;
  @include media-breakpoint-up(sm) {
    padding-left: 3rem;
    font-size: 16px;
    text-align: left;
  }
}

.c-input-work::placeholder {
  color: $gray-500;
}

.c-logobar-form .c-logobar-label {
  @include media-breakpoint-between(sm, md) {
    font-size: 10px;  
  }
}

.c-input-work-container {
  position: relative;
  @include media-breakpoint-up(lg) {
    width: 232px;
  }
}
.c-input-work-container input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  color: $gray-500;
}

.c-input-work-container--demo {
  width: 370px;
}

.c-input-work-img {
  position: absolute;
  top: 12px;
  left: 8px;
  @include media-breakpoint-up(sm) {
    top: 14px;
    left: 14px;
  }
}

.form-group--onerror
{
  .c-input-work
  {
    border: 1px solid $warning;
  }

  .u-error-text-color
  {
    font-style: italic;
    font-size: 14px;
  }
}
