.c-homebg {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  @include media-breakpoint-up(lg) {
    max-width: 1310px;
  }
  border-radius: 10px;
}

.c-homebg--light {
  background-color: #f9f8f6;
}

.c-homebg-img {
  z-index: -1;
}

.c-homebg-img--line {
  display: none;
  @include media-breakpoint-up(xl) {
    display: block;
  }
}

.c-homebg-img--circle {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.c-homebg-img--line1 {
  top: 85px;
  left: -162px;
}
.c-homebg-img--line2a {
  top: 47px;
  left: -208px;
}
.c-homebg-img--line3a {
  top: 79px;
  left: -183px;
}
.c-homebg-img--line3b {
  top: 53px;
  right: -121px;
}

.c-homebg-img.c-homebg-img--circle {
  z-index: 0;
  position: absolute;
}

.c-homebg-img--circle1 {
  top: 60px;
  left: 50px;
}
.c-homebg-img--circle2 {
  bottom: -28px;
  left: 444px;
}
.c-homebg-img--circle3 {
  top: 182px;
  right: 512px;
}
.c-homebg-img--circle4 {
  top: 12px;
  right: 312px;
}
.c-homebg-img--circle5 {
  bottom: 112px;
  right: -12px;
}
