.itemDetail {
}
.itemDetail header {
  background: #fff !important;
  padding: 10px 20px 0px 10px !important;
}
.itemDetail .ellipsisLink {
  overflow: hidden;
  text-overflow: ellipsis;
}

a.resultCard {
  display: block;
}
a.resultCard:hover {
  text-decoration: none;
  color: inherit;
}

.resultCard {
  background-color: white;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  @include media-breakpoint-up(sm) {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-right: 25px;
    margin-left: 25px;
    padding-right: 25px;
    padding-left: 25px;
  }
  @include media-breakpoint-up(md) {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
  @include media-breakpoint-up(lg) {
    margin-right: 25px;
    margin-left: 25px;
    padding-right: 25px;
    padding-left: 25px;
  }
  color: #4a4a4a;
  cursor: pointer;
}

.itemDetail .resultCard {
  box-shadow: none;
}

.cardText {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.resultCard .title {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.resultCard .body {
  font-size: 14px;
}
.resultCard .body > div {
  margin-top: 5px;
}

.resultCard .hasJob {
  font-weight: bold;
}
.resultCard .companySize > img {
  margin-right: 5px;
  margin-top: -5px;
}
.resultCard .body a,
.resultCard .body a:hover,
.resultCard .body a:visited {
  color: black;
}
