.itemDetail {
}
.itemDetail header {
  background: #fff !important;
  padding: 10px 20px 0px 10px !important;
}
.itemDetail .ellipsisLink {
  overflow: hidden;
  text-overflow: ellipsis;
}
.itemDetail .itemDetailBody {
  padding: 30px 40px;
  font-size: 16px;
  text-align: left;
  background: #f5f5f5;
}
.itemDetail .itemDetailBody .title {
  width: fit-content;
  padding: 3px 10px 2px;
  color: #fff;
  font-weight: bold;
  background: #066ee7;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.itemDetail .itemDetailBody .sectionTitle {
  font-weight: bold;
}
.itemDetail .itemDetailBody .description {
  padding-left: 15px;
  text-align: justify;
  white-space: pre-wrap;
}
.itemDetail .itemDetailBody .linkIcon {
  margin-right: 15px;
}
.itemDetail .blueAdvice {
  margin: 30px -10px;
  background: #d7e9ff;
  border-radius: 15px;
  padding: 20px;
  text-align: justify;
}
.itemDetail .pinkAdvice {
  margin: 30px -10px;
  background: #f1e3fd;
  border-radius: 15px;
  padding: 20px;
  text-align: justify;
}
.itemDetail .pinkAdvice ul,
.itemDetail .blueAdvice ul {
  padding-left: 25px;
  margin-top: 20px;
  padding-right: 5px;
}
.itemDetail .pinkAdvice li,
.itemDetail .blueAdvice li {
  margin-bottom: 10px;
}
.itemDetail .pinkAdvice .floatLeft,
.itemDetail .blueAdvice .floatLeft {
  float: left;
}
.itemDetail .pinkAdvice .paragraph,
.itemDetail .blueAdvice .paragraph {
  margin-left: 50px;
  text-align: justify;
}
.itemDetail .pinkAdvice img,
.itemDetail .blueAdvice img {
  margin-right: 20px;
}

a.resultCard {
  display: block;
}
a.resultCard:hover {
  text-decoration: none;
  color: inherit;
}

.resultCard {
  background-color: white;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  @include media-breakpoint-up(sm) {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-right: 25px;
    margin-left: 25px;
    padding-right: 25px;
    padding-left: 25px;
  }
  @include media-breakpoint-up(md) {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
  @include media-breakpoint-up(lg) {
    margin-right: 25px;
    margin-left: 25px;
    padding-right: 25px;
    padding-left: 25px;
  }
  color: #4a4a4a;
  cursor: pointer;
}

.itemDetail .resultCard {
  box-shadow: none;
}

.cardText {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.resultCard .title {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.resultCard .body {
  font-size: 14px;
}
.resultCard .body > div {
  margin-top: 5px;
}

.resultCard .hasJob {
  font-weight: bold;
}
.resultCard .companySize > img {
  margin-right: 5px;
  margin-top: -5px;
}
.resultCard .body a,
.resultCard .body a:hover,
.resultCard .body a:visited {
  color: black;
}
