.advice {
  margin: auto;
  margin-bottom: 60px;
}
.advice a {
  color: #333333;
  text-decoration: underline;
}
.advice a:hover {
  color: #000;
}
.advice h5 {
  font-size: 14px;
  font-weight: bold;
}
.advice section {
  width: 90%;
  max-width: 760px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}
