.c-detail-body.c-locationdetail {
  padding-bottom: 0px;
}

.c-locationdetail {
  text-align: left;
}

.choiceCol h2.c-locationdetail-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000091;
}

.c-locationdetail-address {
  font-size: 16px;
  line-height: 24px;
  color: #383838;
}

.c-locationdetail-distance {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6a6a6a;
}

.c-locationdetail-imgcontainer {
  margin-right: 0.25rem;
  width: 30px;
  &--smallphone {
    padding-left: 0.1rem;
    margin-top: -0.2rem;
  }
}

.c-locationdetail-line {
  display: flex;
}

.c-detail-sizetext.c-locationdetail-hint {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #9c9c9c;
}

.c-didyouknow-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
