.c-logobar {
  display: flex;
  align-items: center;
}
form.c-logobar-form {
  margin-top: 0;
  display: flex;
  align-items: stretch;
  height: 57px;
}
.c-logobar-formgroup {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid $gray-300;
  border-radius: 10px;
  padding: .1rem;
}

.c-logobar-label {
  display: block;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 15px;
  color: $gray-700;
  text-align: left;
  margin-left: .5rem;
  padding-top: 0.3rem;
}


.formGroup--logobar-onerror 
{
  .c-logobar-formgroup {
    border: 1px solid $warning;
  }
}

.c-logobar .c-input-work-container .c-input-work {
  padding: 0;
  height: 30px;
  margin-left: 1rem;
}

.c-logobar-field select {
  padding: 0;
  height: 30px;
  margin-left: .8rem;
  margin-right: .8rem;
}

.c-logobar-field {
  min-height: 30px;
}

.c-logobar-field input, .c-logobar-field select {
  border: none;
  width: auto;
}

.c-logobar-formgroup--rayon {
  min-width: 120px;
}

.c-logobar-label--rayon {
  margin-left: .6rem;
}

.c-logobar-formgroup--diploma {
  min-width: 165px;
}

.c-logobar-letstart {
  display: none;
  @include media-breakpoint-up(xl) { 
    display: inline-block;
    margin-left: 8px;
  }
}

.c-widgetheader--home .c-logobar-formgroup--diploma {
  width: auto;
  @include media-breakpoint-up(md) { 
    width: 150px;
  }
}

.c-logobar-label--diploma {
  margin-left: .6rem;
}

.choiceCol .formGroup.formGroup--logobar {
  min-width: 200px;
}

.c-logobar-formgroup.c-logobar-submit-container {
  padding: 0;
}

.c-regular-darkbtn.c-logobar-submit {
  height: 57px;
  margin: 0;
}

.c-regular-darkbtn.c-logobar-submit.is-home-true {
  @include media-breakpoint-up(xl) { 
    padding-left: 38px;
    padding-right: 42px;
  }
}
