canvas.mapboxgl-canvas:focus {
  outline: none;
}

.mapboxgl-popup {
  z-index: 2;

  min-width: 200px !important;
  max-width: 200px !important;

  @include media-breakpoint-up(sm) {
    min-width: 300px !important;
    max-width: 300px !important;
  }
  @include media-breakpoint-up(md) {
    min-width: 400px !important;
    max-width: 400px !important;
  }

  @include media-breakpoint-up(lg) {
    min-width: 600px !important;
    max-width: 600px !important;
  }
}

.mapboxgl-popup-content {
  border-radius: 11px;
  font-size: 14px;
  line-height: 20px;
  color: #4a4a4a;
  text-align: left;
  padding: 0;
}

.mapboxPopupJob {
  padding: 25px 15px;
}

.c-mapboxpopup-li + .c-mapboxpopup-li {
  margin-top: 5px;
}

.mapboxPopupFormation .mapboxPopupPlace {
  margin-top: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  color: #000000;
}

.c-mapbox-bg {
  background-color: #f9f8f6;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

.c-mapbox-list-item + .c-mapbox-list-item {
  margin-top: 5px;
}

.c-mapbox-list-item.is-first {
  margin-top: 15px;
}
.c-mapbox-list-item.is-last {
  margin-bottom: 15px;
}

.c-mapbox-list-item button {
  position: relative;
  left: -5px;
}

.c-mapbox-list {
  padding-top: 12px;
  padding-bottom: 12px;
}

.c-mapbox-companyname {
  margin-left: 15px;
  color: #383838;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}

.mapboxgl-popup-close-button {
  font-size: 20px;
  color: #383838;
}

.mapboxPopupFormation .mapboxPopupBg {
  padding: 25px 15px;
  padding-top: 16px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.mapboxPopupFormation .mapboxPopupTitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 8px;
}

.mapboxPopupFormation .mapboxPopupDescr {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
}

.mapboxgl-popup-content ul {
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 0;
  list-style-position: inside;
  list-style-type: disc;
  white-space: pre-wrap;
}
.mapboxgl-popup-content li {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  cursor: pointer;
}

.mapboxgl-popup-content li span {
  position: relative;
  left: -10px;
}

.mapboxgl-popup-content .mapboxPopupTitle {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}

.mapboxPopupBg {
  background-color: #f9f8f6;
}

.mapboxgl-popup-content .knowMore {
  margin-top: 10px;
  text-align: right;
  width: 100%;
}
.mapboxgl-popup-content .knowMore button {
  cursor: pointer !important;
  color: #4a4a4a !important;
  text-decoration: underline !important;
  background: none !important;
  border: none !important;
  padding: 10px 20px !important;
  width: fit-content !important;
}
.mapboxgl-popup-content .knowMore button:hover {
  color: #000 !important;
}
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl {
  margin: 0 18px 2rem 0;

  @include media-breakpoint-up(md) {
    margin: 0 38px 6rem 0;
  }
}

.mapboxgl-ctrl-bottom-right {
  @include media-breakpoint-up(md) {
    bottom: 75px !important;
  }
}

.c-mapboxpopup--link {
  background: none;
  border: none;
  font-size: 14px;
  padding: 0;
  line-height: 17px;
  letter-spacing: 0px;
  color: $gray-700;
  text-decoration: underline;
  text-underline-offset: 3px;
  /*max-width: 333px; TODO: à réétudier*/
  text-align: left;
}

.c-mapboxpopup--link:hover {
  color: #000;
}

.c-map-searchButton {
  z-index: 1;
  position: absolute;
  width: 260px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 2rem;
}

.c-map-searchButton button {
  cursor: pointer;
  background-color: #fff;
  font-size: 14px;
  color: $gray-700;
  border-radius: 58px;
  border: none;
  padding: 8px 15px;
  margin: auto;
  box-shadow: 0px 0px 12px 6px rgba(121, 121, 121, 0.4);
}

.mapboxgl-ctrl-attrib {
  display: none;
}
