.c-matcha-detail-container {
  background: #f6f6f6;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 24px;
}

.c-detail-bolded {
  color: $pinksoft750;
  font-weight: bold;
}

.c-required-level {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #000091;
  background: #e3e3fd;
  padding: 4px 16px;
  border-radius: 40px;
  margin-left: 8px;
  margin-top: 4px;
}

.c-required-levels {
  display: flex;
  flex-wrap: wrap;
}

.c-eligible {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 8px;
}
