.c-media {
  display: flex;
  align-items: flex-start;
}

.c-media-figure {
  margin-right: 1em;
}

.c-media-body {
  flex: 1;
}

.c-detail .c-media-tag {
  font-size: 12px;
}

.c-media-tag {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0px;
  width: fit-content;
  border-radius: 6px;
  padding: 0.5rem;
  padding-top: 0.25rem;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  @include media-breakpoint-up(lg) {
    font-size: 8px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 12px;
  }
}

.c-media-tag span {
  vertical-align: bottom;
  white-space: nowrap;
}

.c-media-tag.c-media-tag--briefcase {
  color: $pinksoft750;
  background: #fff4f2;
}
.c-media-tag.c-media-tag--smiley {
  color: #22967e;
  background: #e5f7f4;

  img {
    width: 16px;
  }
}
.c-media-tag.c-media-tag--2nd {
  margin-left: 0px;
  margin-top: 3px;
  margin-right: 4px;

  @include media-breakpoint-up(lg) {
    margin-left: 4px;
    margin-right: 0px;
  }
}

.c-candidature-terms--knowmore input {
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-right: 18px !important;
  position: relative;
  top: 5px;
}
