.c-navbar-brand-img {
  width: 151px;
  @include media-breakpoint-down(sm) { 
    display: none;
    width: 110px;
  }
}

.c-navigation .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-marianne-header {
  margin-right: 0.3rem;
  @include media-breakpoint-up(md) { 
    margin-right: 2rem;
  }
}

.c-navigation.is-filled .navbar {
  background-color: $home-background-color;
}
.c-navigation.is-white .navbar {
  background-color: $white;
}

// Nesting class is mandatory to
// override Boostrap's classes.
.c-navigation {
  
  .navbar-toggler:after {
    content: 'Menu';
    display: block;
    font-size: 12px; // can't find proper variable here
    margin-top: -6px;
    color: $black;
  }

  // Override bootstrap color
  .navbar-light .navbar-nav .nav-link {
    color: #000091;
    font-size: 14px;
    display: inline-flex;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4'/%3E%3C/svg%3E");
  }

  .navbar-light .navbar-toggler {
    border: none;
  }
  
  &__separator {
    border-left: 1px solid #E5E5E5;
    width: 0px;
    height: 16px;
    margin-top: 11px;

    @include media-breakpoint-down(md)
    {
        display: none;
    }
  }

  .nav-item.selected
  {
    background: rgba(0,0,0,0.08);
  }
}

