.c-needHelp {
  background-color: #f5f5fe;
  border: 1px solid #e3e3fd;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 32px;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.c-needHelp-title {
  color: #000091;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
}
.c-needHelp-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #383838;
}
ul.c-needHelp-listLinks {
  padding-left: 24px;
  li {
    padding-top: 16px;
    font-size: small;
  }
}
