.not-found-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.not-found-content {
  display: flex;
  align-items: center;
  flex: 1;
  text-align: center;
}

.not-found-title {
  font-weight: 400;
  font-size: 54px;
  margin-top: 1rem;
  @include media-breakpoint-up(md) {
    margin-top: 0;
    font-size: 76px;
  }
}
.not-found-subtitle {
  font-size: 16px;
  @include media-breakpoint-up(md) {
    font-size: 18px;
  }
}
.not-found-text {
  font-size: 14px;
  @include media-breakpoint-up(md) {
    font-size: 18px;
  }
}
