.not-found-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.not-found-content {
  display: flex;
  align-items: center;
  flex: 1;
  text-align: center;
}

.not-found-title {
  font-weight: 400;
  font-size: 54px;
  margin-top: 1rem;
  @include media-breakpoint-up(md) { 
    margin-top: 0;
    font-size: 76px;
  }
}
.not-found-subtitle {
  font-size: 16px;
  @include media-breakpoint-up(md) { 
    font-size: 18px;
  }
}
.not-found-text {
  font-size: 14px;
  @include media-breakpoint-up(md) { 
    font-size: 18px;
  }
}

.c-500 {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.c-500-logo {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.c-500-img {
  margin: auto;
  max-width: 75%;
}
.c-500-title {
  margin-top: 1rem;
}
