.c-organisme-link a {
  color: $gray-750;
  word-break: break-all;
  border-bottom: none;
  @include media-breakpoint-up(sm) { 
    &:hover {
      text-decoration: none;
    }
    border-bottom: solid $info 2px;
  }
}

.c-organisme-help {
  @extend .pt-4, .pb-3;
  font-size: 18px;
  font-weight: 700;
}

a.c-organisme-contact-link {
  @extend .btn, .btn-outline-primary, .px-3;
}
