.c-recruteur-hero {
  background-color: white;
  border-radius: 1rem;
  text-align: center;
}

.c-recruteur-hero-title {
  font-size: 26px;
  font-weight: 700;
}

.c-recruteur-title {
  font-weight: 700;
}
