.c-result-lists {
  position: sticky;
  top: 0px;
  background-color: white;
  padding-top: 10px;
}
.c-resultlist-correspond {
  letter-spacing: 0px;
  text-align: left;
}

.c-resultlist-correspond--light {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.c-resultlist-correspond--bold {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
}

.c-trainingresult-warning {
  display: flex;
  align-items: center;
  background-color: white;
}

.c-trainingresult-warningtxt {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}

 .c-resultlist-card {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
 }
