

.c-resultlist-correspond {
  letter-spacing: 0px;
  font-size: 18px;
  text-align: left;
}

.c-resultlist-correspond--light {
  font-weight: 400;
  line-height: 19px;
  display: block;
  @include media-breakpoint-up(md) { 
    display: inline;
  }
}

.c-resultlist-correspond--bold {
  font-weight: 700;
  line-height: 27px;
  display: block;
  @include media-breakpoint-up(md) { 
    display: inline;
  }
}

.c-trainingresult-warning {
  display: flex;
  align-items: center;
  background-color: white;
}

.c-trainingresult-warningtxt {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}

 .c-resultlist-card {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
 }

.c-resultlist-purplefilter {
  margin-top: -10px;
  margin-left: auto;
  margin-right: 30px;
  cursor: pointer;
  display: flex;
  @include media-breakpoint-up(md) { 
    display: none;
  }
  padding-top: 15px;

  img {
    width:24px;
    height:24px;
  }
 }

 .c-result-list__text
 {
   padding-bottom: 100px;
   @include media-breakpoint-up(md) { 
    padding-bottom: 0;
  }
 }
