.satisfaction-smallhint {
  color: #666666;
}

.btn.btn-dark.btn-dark-action.c-satisfaction-submit {
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
}
