.demoPage {
  max-width: 99%;
}
.demoPage .c-autocomplete__menu {
  margin-left: 0px;
  width: 100%;
  max-width: 370px;
  margin-top: 4px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.demoPage header {
  background: none;
  padding: 0px 10px;
}
.demoPage .bold {
  font-weight: bold;
}
.demoPage form {
  margin-top: 20px;
}
.demoPage form .row {
  margin-left: -5px;
  margin-right: -5px;
}
.demoPage form .col-3.radioButton {
  max-width: 100% !important;
}
.demoPage .hiddenResultList,
.demoPage .hiddenSearchForm,
.demoPage .hiddenItemDetail {
  display: none;
}
.demoPage .leftShadow {
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (min-width: 768px) {
  .demoPage .leftShadow {
    box-shadow: 2px -15px 15px rgba(0, 0, 0, 0.5);
  }
}
.demoPage .activeXSPane {
  display: block;
}
.demoPage .inactiveXSPane {
  display: block;
}
.demoPage .floatingButtons {
  display: none;
}
.demoPage .floatingButtons button {
  cursor: pointer;
  margin-right: 30px;
  background-color: $gray-750;
  font-size: 14px;
  color: #fff;
  border-radius: 58px;
  border: none;
  padding: 10px 20px;
}
.demoPage .floatingButtons button:focus {
  box-shadow: none;
}
@media only screen and (max-width: 350px) {
  .demoPage .inactiveXSPane {
    display: none;
  }
  .demoPage .floatingButtons {
    display: block;
    position: fixed;
    bottom: 40px;
    right: unset;
    left: 20px;
  }
  .demoPage .floatingButtons.resultList {
    right: 30px;
  }
}
@media only screen and (min-width: 351px) and (max-width: 767px) {
  .demoPage .inactiveXSPane {
    display: none;
  }
  .demoPage .floatingButtons {
    display: block;
    position: fixed;
    bottom: 40px;
    right: 40%;
  }
}
.demoPage .inFormIcon {
  margin-top: 13px;
  margin-left: 15px;
}
.demoPage .choiceCol {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.demoPage .choiceCol .apiResult {
  text-align: left;
}
.demoPage .choiceCol .formGroup {
  text-align: left;
  margin: auto;
  width: 90%;
  max-width: 450px;
  min-width: 250px;
}
.demoPage .choiceCol .fieldContainer {
  border: 1px solid #e0e0e0;
  height: 56px;
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
  text-align: left;
  padding: 1px 10px;
  background: #fff;
  border-radius: 10px;
}
.demoPage .choiceCol .fieldContainer:focus-within {
  border: 1px solid #006AEB;
}
.demoPage .choiceCol .errorField {
  color: red;
  margin-top: -10px;
  margin-bottom: 25px;
}
.demoPage .choiceCol .form-check {
  padding-left: 0;
}
.demoPage .choiceCol .buttons {
  margin: auto;
  max-width: 600px;
}
.demoPage .choiceCol input,
.demoPage .choiceCol select {
  border: none;
  height: 52px;
  margin-left: 5px;
  width: 90%;
}
.demoPage .choiceCol input[type="radio"] {
  height: 16px;
  margin-left: -45px;
  margin-top: 3px;
}
.demoPage .choiceCol input:focus,
.demoPage .choiceCol select:focus {
  outline: none;
}
.demoPage .choiceCol .fa-search,
.demoPage .choiceCol .fa-map-marker-alt {
  margin-top: 16px;
}
.demoPage .choiceCol .autoCompleteContainer {
  width: 87%;
  float: left;
}
.demoPage .choiceCol h2 {
  font-size: 24px;
  color: #333;
  margin: 20px 0;
}
.demoPage .choiceCol .listText {
  font-weight: bold;
  margin: 20px 0;
}
.demoPage .choiceCol button {
  // width: 80%;
  // background: #333;
  // color: #fff;
  // border: 1px solid #333;
  // text-align: center;
  // font-size: 16px;
  // padding: 18px;
  // max-width: 280px;
  // margin: auto;
}
.demoPage .choiceCol .blueButton {
  color: #066EE7;
  background: #fff;
  border: 2px solid #066EE7;
  border-radius: 50px !important;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: auto;
}
.demoPage .choiceCol .closeButton {
  color: #4A4A4A;
  background: #fff;
  border-radius: 50px !important;
  font-size: 16px;
  padding: 4px 5px 3px 4px;
  text-align: center;
  width: auto;
  float: right;
  width: 32px;
  height: 32px;
  border: none;
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.2);
}
.demoPage .choiceCol .submitButton {
  margin-top: 20px;
  background-color: #0061DF;
  border-radius: 10px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
  border: none;
  margin-bottom: 30px;
}
.demoPage .choiceCol header .blueButton {
  margin-top: 5px;
  float: right;
}
.demoPage .choiceCol .blueButton:hover {
  color: #fff;
  border: 2px solid #066EE7;
  background: #066EE7;
}
.demoPage .choiceCol .filterButton {
  background-image: url(/images/icons/filter.svg);
  background-position: 4px;
  background-repeat: no-repeat;
  width: 80px;
  text-align: right;
}
.demoPage .choiceCol .filterButton:hover {
  background-image: url("/images/icons/filter_white.svg");
  background-position: 4px;
  background-repeat: no-repeat;
}
.demoPage .choiceCol .noOpportunityFound {
  margin-top: 30px;
}
.demoPage .choiceCol .filterButtons {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 31px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.25);
}

.demoPage .choiceCol .filterButtons button {
  text-align: center;
  font-size: 12px;
  background: none;
  width: fit-content;
  outline: none;
  border: none;
  padding: 20px 0px;
  color: #929292;
  margin-right: 5px;
  @include media-breakpoint-up(sm) { 
    font-size: 14px;
    margin-right: 40px;
  }
}
.demoPage .choiceCol .filterButtons button img {
  margin: -2px 5px 0 5px;
}
.demoPage .choiceCol .filterButtons button.filterButtonall.active {
  border: none;
  color: #4A4A4A;
  font-weight: 700;
  border-bottom: 2px solid $gray-750;
}
.demoPage .choiceCol .filterButtons button.filterButtontrainings.active {
  border: none;
  font-weight: 700;
  color: #4A4A4A;
  border-bottom: 2px solid $gray-750;
}
.demoPage .choiceCol .filterButtons button.filterButtonjobs.active {
  border: none;
  font-weight: 700;
  color: #4A4A4A;
  border-bottom: 2px solid $gray-750;
}
.demoPage .choiceCol .filterButtons button:hover,
.demoPage .choiceCol .filterButtons button:focus {
  box-shadow: none;
  box-shadow: 0 0 0 2px $primary;
  border-radius: 2px;
}
.demoPage .row {
  text-align: center;
}
.demoPage .clearBoth {
  clear: both;
}
@media only screen and (max-width: 900px) {
  .demoPage .hiddenSM {
    display: none;
  }
  .demoPage .filterButton {
    background-position: 8px !important;
    width: 42px !important;
    height: 42px !important;
  }
  .demoPage .filterButton:hover {
    background-position: 8px !important;
  }
}
.demoPage .countValue {
  font-weight: bold;
}
.demoPage .trainingColor {
  color: $pinksoft500;
}
.demoPage .jobColor {
  color: #00AC8C;
}

.demoPage .resultTitle {
  text-align: left;
  margin-left: 10px;
  color: #4A4A4A;
  font-weight: 600;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0 20px;
}
.demoPage .searchLoading {
  margin-bottom: 20px;
}
.demoPage .searchLoading .spinner-border {
  margin-bottom: -3px;
  margin-left: 20px;
}
.demoPage .mapContainer,
.demoPage .dummyMapContainer {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.mapContainer:focus,
.dummyMapContainer:focus
{
  outline:none;
}

.demoPage .dummyMapContainer {
  background: center / contain no-repeat url(/images/static_map.svg), #F9F8F6;  

  .c-staticmapframe
  {
    margin: auto;
    margin-top: 150px;
    width: 80%;
    min-width: 250px;
    max-width: 600px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.21);
    border-radius: 8px;
    text-align: left;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;

    .c-staticmapframe__title
    {
      font-size: 27px;
      font-weight: 700;
    }

    .c-staticmapframe__decoration
    {
      width: 40px;
      height: 100%;
      background: center no-repeat url(/images/icons/static_map_search.svg);  
    }
  }
}

.demoPage .markerIcon {
  width: 30px;
  height: 30px;
}
.demoPage .jobMarkerIcon {
  background-image: url(/images/icons/job.svg);
  background-repeat: no-repeat;
}
.demoPage .trainingMarkerIcon {
  background-image: url(/images/icons/school.svg);
  background-repeat: no-repeat;
}
.demoPage .markerIcon > div {
  position: absolute;
  bottom: -5px;
  right: -5px;
  color: #fff;
  background-color: #000;
  text-align: left;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 15px !important;
  text-align: center;
}
