.c-searchform input, .c-searchform select {
  border: none;
  height: 32px;
  margin-left: 5px;
  width: 95%;
  font-size: 14px;
  font-weight: 600;
}

.c-searchform.c-searchform--column input, .c-searchform.c-searchform--column select {
  font-size: 16px;
}

.c-searchform--column
{
  padding-bottom: 100px;
  @include media-breakpoint-up(md) { 
    padding-bottom: 0;
  }
}

.c-searchform--column.is-home-true {
  padding-bottom: 12px;
}

.is-home-true .submitGroup {
  padding-left: 15px;
  padding-right: 15px;
}

.c-searchform--onerror
{
  .c-logobar-formgroup {
    border: 1px solid $warning;
  }

  .errorField {
    color: $warning;
    margin-left: 5px;
    font-style: italic;
    font-size: 14px;
    padding-left: 25px;
    background-image: url(/images/icons/input_value_error.svg);
    background-repeat: no-repeat;
    background-position: 5px 2px;
  }
}
