.onErrorFieldColumn {
  color: $warning;
  margin-left: 5px;
  font-style: italic;
  font-size: 14px;
  padding-left: 25px;
  background-image: url(/images/icons/input_value_error.svg);
  background-repeat: no-repeat;
  background-position: 5px 2px;
}
