.demoPage .trainingColor {
  color: $greensoft500;
}

.demoPage .searchLoading {
  margin-bottom: 20px;
}

/**
*   This section is dedicated to the "scroll result" problem.
*   See https://codepen.io/pigparlor/pen/NWbBMYL
*/

.choiceCol {
  flex: 1;
}
