.whisper-title {
  font-size: 20px;
  font-weight: 700;
  color: #3a3a3a;
}

.whisper-title-special {
  color: #0c0ccf;
}

.whisper .resultCard {
  background-color: transparent;
  cursor: text;
}

.whisper .cardIcon {
  width: 34px;
}

.whisper-useful {
  font-size: 14px;
  font-weight: 700;
  color: $gray-700;
}

.whisper-useful-btn {
  font-size: 14px;
  font-weight: 400;
  border: none;
}

.whisper-feedback {
  font-size: 14px;
  font-weight: 700;
  background-color: #f0f0f0;
  border-radius: 8px;
}
