.widgetTestPage {
  max-width: 99%;
}
.widgetTestPage .c-autocomplete__menu {
  margin-left: 0px;
  width: 100%;
  max-width: 370px;
  margin-top: 4px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.widgetTestPage header {
  background: none;
  padding: 0px 10px;
}
.widgetTestPage .bold {
  font-weight: bold;
}
.widgetTestPage form {
  margin-top: 20px;
}
.widgetTestPage .hiddenResultList,
.widgetTestPage .hiddenSearchForm,
.widgetTestPage .hiddenItemDetail {
  display: none;
}
.widgetTestPage .leftShadow {
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (min-width: 768px) {
  .widgetTestPage .leftShadow {
    box-shadow: 2px -15px 15px rgba(0, 0, 0, 0.5);
  }
}
.widgetTestPage .activeXSPane {
  display: block;
}
.widgetTestPage .inactiveXSPane {
  display: block;
}
.widgetTestPage .floatingButtons {
  display: none;
}
.widgetTestPage .floatingButtons button {
  cursor: pointer;
  margin-right: 30px;
  background-color: #0061DF;
  font-size: 14px;
  color: #fff;
  border-radius: 19px;
  border: none;
  padding: 10px 20px;
}
.widgetTestPage .floatingButtons button:focus {
  box-shadow: none;
}
@media only screen and (max-width: 767px) {
  .widgetTestPage .inactiveXSPane {
    display: none;
  }
  .widgetTestPage .floatingButtons {
    display: block;
    position: fixed;
    bottom: 40px;
    right: 40%;
  }
  .widgetTestPage .floatingButtons.resultList {
    right: 30px;
  }
}
.widgetTestPage .inFormIcon {
  margin-top: 13px;
  margin-left: 15px;
}
.widgetTestPage form .apiResult {
  text-align: left;
}
.widgetTestPage form .shownValue {
  margin-bottom: 20px;
}
.widgetTestPage form .formGroup {
  text-align: left;
  margin: auto;
  width: 90%;
  max-width: 600px;
  min-width: 250px;
  margin-top: 20px;
}
.widgetTestPage form .formGroup > label {
  font-weight: bold;
}
.widgetTestPage form .fieldContainer {
  height: 56px;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  text-align: left;
  padding: 1px 10px;
  background: #fff;
  border-radius: 10px;
}
.widgetTestPage .c-logobar-formgroup:focus-within {
  border: 1px solid #006AEB;
}
.widgetTestPage form .errorField {
  color: red;
  margin-top: -10px;
  margin-bottom: 25px;
}
.widgetTestPage form .form-check {
  padding-left: 0;
}
.widgetTestPage form .buttons {
  margin: auto;
  max-width: 600px;
}
.widgetTestPage form input,
.widgetTestPage form select {
  border: none;
  height: 52px;
  margin-left: 5px;
  width: 90%;  
}
.widgetTestPage--textInput
{
  background: #eee;
  padding: 2px 5px;
  border-radius: 5px;
}
.widgetTestPage--notice
{
  font-size: 14px;
  font-style: italic;
}

.widgetTestPage form input[type="radio"] {
  height: 16px;
  margin-left: -90px;
  margin-top: 3px;
}
@media only screen and (max-width: 450px) {
  .widgetTestPage form input[type="radio"] {
    margin-left: -50px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 767px) {
  .widgetTestPage form input[type="radio"] {
    margin-left: -60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 870px) {
  .widgetTestPage form input[type="radio"] {
    margin-left: -80px;
  }
}
@media only screen and (min-width: 871px) and (max-width: 1000px) {
  .widgetTestPage form input[type="radio"] {
    margin-left: -85px;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1150px) {
  .widgetTestPage form input[type="radio"] {
    margin-left: -90px;
  }
}
.widgetTestPage form input:focus,
.widgetTestPage form select:focus {
  outline: none;
}
.widgetTestPage form .fa-search,
.widgetTestPage form .fa-map-marker-alt {
  margin-top: 16px;
}
.widgetTestPage form .autoCompleteContainer {
  width: 87%;
  float: left;
}
.widgetTestPage form h2 {
  font-size: 24px;
  color: #333;
  margin: 20px 0;
}
.widgetTestPage form .listText {
  font-weight: bold;
  margin: 20px 0;
}
.widgetTestPage form button {
  width: 80%;
  background: #333;
  color: #fff;
  border: 1px solid #333;
  text-align: center;
  font-size: 16px;
  padding: 18px;
  max-width: 280px;
  margin: auto;
}
.widgetTestPage form .blueButton {
  color: #066EE7;
  background: #fff;
  border: 2px solid #066EE7;
  border-radius: 50px !important;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: auto;
}
.widgetTestPage form .closeButton {
  color: #4A4A4A;
  background: #fff;
  border-radius: 50px !important;
  font-size: 16px;
  padding: 4px 5px 3px 4px;
  text-align: center;
  width: auto;
  float: right;
  width: 32px;
  height: 32px;
  border: none;
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.2);
}
.widgetTestPage form .submitButton {
  margin-top: 20px;
  background-color: #0061DF;
  border-radius: 10px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
  border: none;
  margin-bottom: 30px;
}
.widgetTestPage form header .blueButton {
  margin-top: 5px;
  float: right;
}
.widgetTestPage form .blueButton:hover {
  color: #fff;
  border: 2px solid #066EE7;
  background: #066EE7;
}
.widgetTestPage form .filterButton {
  background-image: url(/images/icons/filter.svg);
  background-position: 4px;
  background-repeat: no-repeat;
  width: 80px;
  text-align: right;
}
.widgetTestPage form .filterButton:hover {
  background-image: url("/images/icons/filter_white.svg");
  background-position: 4px;
  background-repeat: no-repeat;
}
.widgetTestPage form .noOpportunityFound {
  margin-top: 30px;
}
.widgetTestPage .row {
  text-align: center;
}
.widgetTestPage .clearBoth {
  clear: both;
}
@media only screen and (max-width: 900px) {
  .widgetTestPage .hiddenSM {
    display: none;
  }
  .widgetTestPage .filterButton {
    background-position: 8px !important;
    width: 42px !important;
    height: 42px !important;
  }
  .widgetTestPage .filterButton:hover {
    background-position: 8px !important;
  }
}
