version: "2.4"
services:
  reverse_proxy:
    image: doctrina_reverse_proxy
    container_name: doctrina_reverse_proxy
    build:
      context: reverse_proxy
    mem_limit: 256m
    restart: unless-stopped
    ports:
      - 80:80
    networks:
      - doctrina_network
    depends_on:
      - server
      - ui
    environment:
      - PARANOIA=3
      - ANOMALY_INBOUND=5
      - ANOMALY_OUTBOUND=4
      - DNS_SERVER=127.0.0.11
      - PROXY=1
      - ACCESSLOG=/data/access.log
      - ERRORLOG=/data/error.log
      - LOGLEVEL=warn
      - NGINX_ALWAYS_TLS_REDIRECT=false
      - ALLOWED_METHODS=GET HEAD POST OPTIONS PUT DELETE

  ui:
    image: doctrina_ui
    container_name: doctrina_ui
    build:
      context: ui
    mem_limit: 256m
    networks:
      - doctrina_network
    depends_on:
      - server

  ui_espace_pro:
    image: doctrina_ui_espace_pro
    container_name: doctrina_ui_espace_pro
    build:
      context: ui_espace_pro
    mem_limit: 256m
    networks:
      - doctrina_network
    depends_on:
      - server

  server:
    image: doctrina_server
    #    volumes:
    #      - /opt/labonnealternance/data/server/lbb/assets:/app/src/jobs/lbb/assets
    container_name: doctrina_server
    build:
      context: server
    mem_limit: 1g
    restart: unless-stopped
    networks:
      - doctrina_network
    depends_on:
      - mongodb
    environment:
      - LBA_MONGODB_URI=mongodb://mongodb:27017/labonnealternance?retryWrites=true&w=majority
      - LBA_LOG_DESTINATIONS=stdout,mongodb

  mongodb:
    image: mongo:5.0.6-focal
    container_name: doctrina_mongodb
    mem_limit: 2g
    restart: unless-stopped
    networks:
      - doctrina_network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.6
    container_name: doctrina_elasticsearch
    environment:
      - ES_JAVA_OPTS=-Xmx512m -Xms512m
      - discovery.type=single-node
      - cluster.name=docker-cluster
      - network.host=0.0.0.0
      - discovery.zen.minimum_master_nodes=1
    mem_limit: 3g
    networks:
      - doctrina_network

  clamav:
    image: clamav/clamav:0.105.0
    container_name: doctrina_clamav
    mem_limit: 3g
    restart: unless-stopped
    networks:
      - doctrina_network
    healthcheck:
      test: ["CMD", "/usr/local/bin/clamdcheck.sh"]
      interval: 60s
      retries: 3
      start_period: 120s

networks:
  doctrina_network:
    name: doctrina_network
