/**
 *
 * MARIANNE (titres)
 *
 */

@font-face {
  font-family: "Marianne";
  src:
    local("Marianne Bold"),
    local("Marianne-Bold"),
    url("../fonts/Marianne/Marianne-Bold.woff2") format("woff2"),
    url("../fonts/Marianne/Marianne-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Marianne";
  src:
    local("Marianne Medium"),
    local("Marianne-Medium"),
    url("../fonts/Marianne/Marianne-Medium.woff2") format("woff2"),
    url("../fonts/Marianne/Marianne-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Marianne";
  src:
    local("Marianne"),
    local("Marianne Regular"),
    local("Marianne-Regular"),
    url("../fonts/Marianne/Marianne-Regular.woff2") format("woff2"),
    url("../fonts/Marianne/Marianne-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
