/**
*
* MARIANNE (titres)
*
*/

@font-face {
  font-family: 'Marianne';
  src: url('https://labonnealternance-recette.apprentissage.beta.gouv.fr/fonts/Marianne/Marianne-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Marianne';
  src: url('https://labonnealternance-recette.apprentissage.beta.gouv.fr/fonts/Marianne/Marianne-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Marianne';
  src: url('https://labonnealternance-recette.apprentissage.beta.gouv.fr/fonts/Marianne/Marianne-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}
