---
- hosts: preview
  become: true
  gather_facts: false
  tasks:
    - name: Chargement des variables chiffrées globales
      community.sops.load_vars:
        file: "{{ inventory_dir }}/../env.global.yml"
        expressions: ignore

    - name: Chargement des variables chiffrées de l'environnement preview
      community.sops.load_vars:
        file: "{{ inventory_dir }}/../env.preview.yml"
        expressions: evaluate-on-load

    - name: List projects
      ansible.builtin.find:
        paths: /opt/app/projects
        file_type: directory
      register: projects

    - include_tasks: ./tasks/preview_pr.yml
      loop: "{{ projects.files | map(attribute='path')| map('basename') | list }}"
      loop_control:
        loop_var: pr_number
      vars:
        build: false
        repo_name: labonnealternance
        docker_images:
          - mna_lba_ui
          - mna_lba_server

    - name: Prune Docker Containers
      shell:
        cmd: docker container prune --force

    - name: Prune Docker Images
      shell:
        cmd: docker image prune --all --force

    - name: Prune Docker Volumes
      shell:
        cmd: docker volume prune
