{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "mocha"
  ],
  "rules": {
    "mocha/no-skipped-tests": "error",
    "mocha/no-exclusive-tests": "error"
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  }
}
