{
  "root": true,
  "extends": ["eslint:recommended", "plugin:node/recommended-module", "plugin:prettier/recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["mocha"],
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["/build"],
  "rules": {
    "mocha/no-skipped-tests": "error",
    "mocha/no-exclusive-tests": "error",
    "no-nonoctal-decimal-escape": 0,
    "no-unsafe-optional-chaining": 0,
    "node/exports-style": ["error", "exports"],
    "no-use-before-define": "error"
  },
  "overrides": [
    {
      "files": ["**/*test.{js, ts}", "**/*Tests.{js, ts}", "tests/**/*.{js, ts}"],
      "rules": {
        "node/no-unpublished-require": 0,
        "no-nonoctal-decimal-escape": 0,
        "no-unsafe-optional-chaining": 0
      }
    }
  ],
  "globals": {
    "__dirname": true
  },
  "env": {
    "node": true,
    "es2022": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  }
}
