location /espace-pro {
    set $upstream http://ui_espace_pro:3000;
    include /etc/nginx/mime.types;
    include includes/proxy.conf;

    if ($always_redirect = on) {
        return 301 https://$host$request_uri/;
    }
}
