.facet-filters .search-input {
  border: none;
  border-bottom: 2px solid #000091;
  background: #f0f0f0;
}

.facet-filters .search-input:focus {
  background-color: #f0f0f0;
}

.facet-filters .search-input:focus-visible {
  outline: #2a7ffe solid 2px;
  outline-offset: 2px;
}

.facet-filters .search-input::placeholder {
  color: #6a6a6a;
  font-style: italic;
}

.facet-filters .search-label:hover {
  color: #000091;
}
.facet-filters .search-checkbox + label::before {
  border-color: #000091;
}
.facet-filters .search-checkbox:checked + label::before {
  border-color: #000091;
  background-color: #000091;
}
