.root {
  padding-left: 10px;
  padding-top: 10px;
}

.h1 {
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  width: 100%;
  margin-top: 10px; 
}

.img {
  width: 100%;
  max-width: 160px;    
}
