name: CI

on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        description: Code coverrage token
        required: true
jobs:
  npm-packages-check:
    runs-on: ubuntu-latest
    env:
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Clone mna-npm-check repository
        uses: actions/checkout@v4
        with:
          repository: mission-apprentissage/mna-npm-check
          path: mna-npm-check

      - name: Analyze NPM dependancies
        run: mna-npm-check/npm-check.sh -p .

  tests:
    if: ${{ success() }}
    needs: ["npm-packages-check"]
    timeout-minutes: 10
    name: "Tests"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Make sure to use same dependencies version across all packages
        run: yarn dedupe --check

      - name: typecheck
        run: yarn typecheck

      - name: lint
        run: yarn lint

      - name: start mongodb service
        run: |
          docker compose up --build -d --wait mongodb
          yarn setup:mongodb

      - name: test
        run: yarn test:ci

      - name: prettier
        run: yarn prettier:check

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
