name: Clean Previews
on:
  schedule:
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}

jobs:
  cleanup:
    name: Clean Previews
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v5
        with:
          lfs: true
          token: ${{ secrets.TOKEN_MNA_SHARED }}
          submodules: true

      - name: Initialize the GnuPG keyring
        run: |
          echo -n "$OPENPGP_KEY" | gpg --import
        env:
          OPENPGP_KEY: ${{ secrets.OPENPGP_PRIVATE_SUBKEY }}

      - name: Setup SOPS
        uses: nhedger/setup-sops@v2

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          name: github_actions
          key: ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }}
          known_hosts: ${{ vars.SSH_KNOWN_HOSTS }}
          config: |
            Host *
              IdentityFile ~/.ssh/github_actions

      - name: Install jmespath
        run: |
          sudo pipx inject ansible-core jmespath

      - name: Run playbook
        run: .bin/mna-lba preview:cleanup
        env:
          ANSIBLE_REMOTE_USER: deploy
          ANSIBLE_BECOME_PASS: ${{ secrets.DEPLOY_PASS }}
